<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="SA45_Team10a_LibraryManagement.Properties.Settings.SA45Team10A_PGPLibraryConnectionString" connectionString="Data Source=(local);Initial Catalog=SA45Team10A-PGPLibrary;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="PGPLibraryEntities" connectionString="metadata=res://*/PGPLibraryEntities.csdl|res://*/PGPLibraryEntities.ssdl|res://*/PGPLibraryEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=SA45Team10A-PGPLibrary;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>